/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/


// Distill

.distill {

  //hr {
  //  border-top: 1px solid red;
  //  margin: 2.25rem;
  //}

  .test {
    background-color: cyan;
    color: red;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $theme-color;
  }

  .remark-card {
    border-color: $grey-color-lighter;
    border-style: solid;
    border-width: 1px;
  }

  .header-grey {
    font-size: medium;
    color: $grey-color-darker;
    background-color: $grey-color-Lighter;
    border-color: $grey-color-Lighter;
    //background-color: $theme-color;
    //border-color: $theme-color;
  }

  .button-dark {
    @extend .header-grey;
    @extend .remark-card;
    text-transform: none;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }

  .button-dark.collapsed {
    background-color: $grey-color-light;
    border-color: $grey-color-Lighter;
    color: $grey-color-lighter;
  }

  button:hover {
    @extend .remark-card;
    //border-color: $theme-color;
    //background-color: $theme-color;
    background-color: $grey-color-light;
    border-color: $grey-color;
  }

  .card {
    @extend .remark-card;

    .card-text {
      //@extend .test;
      color: $grey-color;
    }

    .remark-card-header {
      @extend .header-grey;
    }

    d-math.card-d-math-display {
      //margin-left: 1em;
      font-size: larger;
      //text-align: center;
      //padding: 8px 0 8px 0;
      //margin: 0.5em 0 0.5em 1em;
      display: block;
      text-align: center;
      @extend .test;
    }

  }

  .remark-header {
    font-size: larger;
    color: $grey-color-darker;
    margin-bottom: 1em
  }
  .remark-text {
    color: $grey-color;
    //font-size: large;
  }
  .remarkDbylineHorizontalRule {
        //display: block;
        //margin-top: 1.75em;
        height:5px;
        border-width:0;
        color:rgba(0, 0, 0, 0.1);
        //background-color:rgba(0, 0, 0, 0.1)
        background-color: $light-gray;
    }

  a:hover {
    border-bottom-color: $theme-color;
    text-decoration: none;
  }

  d-article {

    h2 {
      //color: red;
      margin-bottom: 1.25rem;
      padding-bottom: 0.25rem;
      border-bottom: 2px solid $text-color;
    }

    h3 {
      //color: red;
      margin-bottom: 1.25rem;
      padding-bottom: 0.25rem;
      border-bottom: 2px solid $text-color;
      font-size: x-large;
    }

    h4 {
      color: $grey-color-dark;
      //color: red;
      margin-top: 1.25rem;
      padding-top: 0.25rem;
      font-size: medium;
      border-bottom: 2px dotted lightgray;
    }

  }

  .definition h5 {
    padding-top: 1em;
    padding-bottom: 0em;
    margin-bottom: 0em;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: none;
    color: #666;
  }

  .definition dt {
    padding-top: 2em;
  }

  .definition dd {
    padding-top: 2em;
  }


  .definition blockquote {
    font-size: inherit;
    margin: 0.5em;
    margin-bottom: 0em;
    border-left: none;
  }

  .myLead {
    font-size: larger;
    font-weight: bolder;
  }

  figcaption {
    padding-top: 1em;
    text-align: center;
  }

  figcaption strong {
    font-size: larger;
  }

  figure {
    padding-top: 1em;
    padding-bottom: 2em;
  }

  blockquote.blockquote {
    margin: 0.5em;
    margin-bottom: 1em;
    font-size: inherit;
    border-left: none;
  }

  blockquote i {
    color: #ccc;
  }


  ul li {
    margin-left: 1em;
    margin-bottom: 0.25em;
  }

  .mainH1 {
    margin-top: 1em;
  }
}
