// Credit: Black Enigma
// https://stackoverflow.com/questions/39942415/how-to-use-sass-mixin-transition-for-applying-transition-delay-only
@mixin multi-prefix-transition($values...) {
  -moz-transition: $values;
  -ms-transition: $values;
  -o-transition: $values;
  -webkit-transition: $values;
  transition: $values;
}

@mixin multi-prefix-animation($values...) {
  -moz-animation: $values;
  -ms-animation: $values;
  -o-animation: $values;
  -webkit-animation: $values;
  animation: $values;
}