---
layout: default
---


<div class="post about-me">

    <header class="post-header" align="center">

        <!-- Show a narow upper portion of "page.profile.image" under the navbar-->
        <!--
                <div class="full-width" style="margin-top: -3em; margin-bottom: 1em; ">
                    <img class="z-depth-0"
                         src="{{ 'ChicChocCloud.jpeg' | prepend: '/assets/img/' | relative_url }}">
                </div>
         -->

        <p class="post-description ">{{ page.description }}</p>

        <p>
        <div class="full-width d-block d-sm-block d-md-none">
            <img class="z-depth-1" src="{{ 'ChicChoc_low_rez.jpg' | prepend: '/assets/img/' | relative_url }}">
        </div>
        <div class="full-width d-none d-md-block d-lg-none">
            <img class="z-depth-1" src="{{ 'ChicChoc.JPG' | prepend: '/assets/img/' | relative_url }}">
        </div>
        <div class="full-width d-none d-lg-block d-xl-block">
            <img class="z-depth-1" src="{{ 'ChicChocNarrower.JPG' | prepend: '/assets/img/' | relative_url }}">
        </div>
        </p>
    </header>

    <article>
        <div class="row">
            <div class="col">
                {{ content }}
            </div>
        </div>
    </article>

    <div class="about-newsfeed">
        {% if page.news %}
        {% include news.html %}
        {% endif %}
    </div>

    {% if page.social %}
    <div class="social about-social">
        {% include social.html %}
        <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}


</div>
